body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0 250px;
}

ul {
    display: flex;
    gap: 30px;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 180px 250px;
}

.hero-content {
    display: flex;
    flex-direction: column; 
}

.hero-content p {
    font-size: 18px;
    color: #e5e7eb;
    width: 500px;
    flex-shrink: 1;
}

.hero-image {
    background-color: #e5e7eb;
    color: white;
    width: 500px;
    display: flex;
    flex-shrink: 0;
}

.hero-image img {
    width: 100%;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 50px;
    border: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}

.boxes {
    display: flex;
    gap: 80px;
    padding: 50px;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.image {
    border: 2px blue solid;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.text {
    width: 204px;
    text-align: center;
    padding-top: 10px;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 50px 300px;
}

.quote p {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

h3 {
    align-self: flex-end;
}

.sign-up {
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 50px 0px;
    margin: 100px 200px;
    border-radius: 20px;
}

.sign-up button {
    border: 1px white solid;
    align-self: center;
}